$def with (title, columns)
<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset='utf8' >
<title>$title</title>
<body>
    <h1>$title</h1>
    <h2>export</h2>
    <a href='/export?type=csv'>CSV</a>
    <h2>columns</h2>
    <p> Comma separated column names. e.g. 'Name,Address,Telephone'. </p>
    <form method='POST' action='/manage'>
        <input style='width: 300px;' type='text' name='columns' value='$",".join(columns)' />
        <br/>
        <input type='submit' value='update columns' />
    </form>
    <br/>
    <a href='/'>Back to Home</a>
</body>
</html>
